// Colors
$color_brand: #002878;
$color_white: #f8f8f8;
$color_ltgray: #dfdfdf;
$color_mdgray: #959595;
$color_dkgray: #383838;

// Breakpoints
$width_tablet: 768px;
$width_desktop: 1200px;

// Responsive mixins that use breakpoint variables - example usage is below
//
//  .class {
//    font-size: 20px;
//
//    @include tablet {
//      font-size: 30px;
//    }
//  }
//

@mixin tablet   { @media (min-width: #{$width_tablet})  { @content; } }
@mixin desktop   { @media (min-width: #{$width_desktop})  { @content; } }

// Timeline styles
.horizontal-timeline {
  opacity: 0;
  margin: 0 auto 2em;
  transition: opacity 0.2s;

  @include desktop {
    margin: 0 auto 6em;
  }

  // never visible - used in jQuery to check current MQ 
  &::before { 
    content: 'mobile';
    display: none;

    @include desktop {
      content: 'desktop';
    }
  }

  // show timeline after events position has been set (using JavaScript) 
  &.loaded { 
    opacity: 1;
  }

  .timeline {
    position: relative;
    height: 100px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  // this is the grey line/timeline, width will be set using JavaScript
  .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    background: $color_ltgray;
    transition: transform 0.4s;

    a {
      position: absolute;
      bottom: 0;
      z-index: 2;
      text-align: center;
      font-size: 1.3rem;
      padding-bottom: 15px;
      color: $color_dkgray;
      transform: translateZ(0); // fix bug on Safari - text flickering while timeline translates 
      box-shadow: none;

      // this is used to create the event spot 
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        bottom: -5px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        border: 2px solid $color_ltgray;
        background-color: $color_white;
        transition: background-color 0.3s, border-color 0.3s;
      }

      &:hover::after {
        background-color: $color_brand;
        border-color: $color_brand;
      }

      &.selected {
        pointer-events: none;

        &::after {
          background-color: $color_brand;
          border-color: $color_brand;
        }
      }

      &.older-event::after {
        border-color: $color_brand;
      }

      .no-touch & {
        pointer-events: none;
      }
    }
  }

  // this is used to create the line filling the timeline
  .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $color_brand;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s;
  }

  .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;

    a {
      text-decoration: none;

      &:focus {
        outline: none;
        text-decoration: none;
      }
    }

    &::before {
      left: 0;
      background-image: linear-gradient(to right, #fff, rgba(248, 248, 248, 0));
    }

    &::after {
      right: 0;
      background-image: linear-gradient(to left, #fff, rgba(248, 248, 248, 0));
    }

    // these are used to create a shadow effect at the sides of the timeline
    &::after, 
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 20px;
    }
  }

  .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
    transition: height 0.4s;

    h2 {
      font-weight: bold;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.2;
      margin: 0 0 1rem;

      @include tablet {
        font-size: 4.8rem;
      }
    }

    span {
      display: inline-block;
      // font-style: italic;
      line-height: 1.6;
      margin: 0 0 1rem;

      &::after {
        content: '-';
        // background: red;
        margin: 0 1rem;
      }

      // @include tablet {
      //   font-size: 2rem;
      // }
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: $color_mdgray;
      margin: 0 0 2rem;

      @include tablet {
        font-size: 1.6rem;
      }
    }

    li {
      position: absolute;
      z-index: 1;
      width: 100%;
      left: 0;
      top: 0;
      transform: translateX(-100%);
      padding: 0;
      opacity: 0;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;

      // visible event content 
      &.selected {
        position: relative;
        z-index: 2;
        opacity: 1;
        transform: translateX(0);
      }

      &.enter-right, &.leave-right {
        animation-name: timeline-transition-right;
      }

      &.enter-left, &.leave-left {
        animation-name: timeline-transition-left;
      }

      &.leave-right, &.leave-left {
        animation-direction: reverse;
      }

      // & > * {
      //   max-width: 100%;
      //   margin: 0 auto 10px;
      // }
    }
  }

  // these are the left/right arrows to navigate the timeline 
  .timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border: 2px solid $color_ltgray;
    overflow: hidden; // replace text with an icon 
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    transition: border-color 0.3s;

    &:focus {
      outline: none;
      text-decoration: none;
    }

    // arrow icon 
    &::after {
      content: '';
      position: absolute;
      height: 16px;
      width: 16px;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      transform: translateX(-50%) translateY(-50%);
      background: url(../img/arrow.svg) no-repeat 0 0;
    }

    &.prev {
      left: 0;
      transform: translateY(-50%) rotate(180deg);
    }

    &.next {
      right: 0;
    }

    &.inactive {
      cursor: not-allowed;

      &::after {
        background-position: 0 -16px;
      }
    }
  }

  // this hides return link on main timeline page 
  .timeline-return {
    display: none;
  }
}


.no-touch .timeline-navigation a:hover {
  border-color: $color_brand;
}

.no-touch .timeline-navigation a.inactive:hover {
  border-color: $color_ltgray;
}

// keyframes
@keyframes timeline-transition-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes timeline-transition-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

// gallery styles, optional
img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.img-main,
.img-thumb {
  padding: 0 10px;
}

.img-thumb {
  width: 33.333333%;
  float: right;
}
